body{
    text-align: center;
    margin-top: 32px;
    background: linear-gradient(135deg,#1e3c72, #2a5298);
    color:#fff
    scroll-behaviour: smooth;
    
}
#roll{
    font-size: 50px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ffcc00;
    color:#000;
    
}
#target{
    font-size: 52px;
}