body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,97%);
    scroll-behavior: smooth;

}
h3{
  color: hsl(227,100%,68%);
}
form{
    background-color: hsl(0,0%,100%);
    text-align: center;
    max-width: 350px;
    margin:auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0,0%,0%,0.5);
}
#textBox{
    text-align: center;
    font-size: 20px;
    width: 50%;

    border-radius: 5px;
    border: solid;
    margin-bottom: 15px;

}
label{
    font-size: 17px;
    font-weight: bold;
}
button{
    margin-top: 17px;
    background-color: red;
    color: whitesmoke;


    padding: 5px 10px;

    border-radius: 5px;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: rgb(214, 20, 17);
}
#result{
    font-weight: bold;
    font-size: 16px;
}
